# Frontend Environment Variables
# Copy to .env.local

NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000 
NEXT_PUBLIC_API_URL=http://13.201.50.228:5000/api
NEXT_PUBLIC_SOCKET_URL=http://13.201.50.228:5000
